/*-------------------------------------//
//  Settings
//-------------------------------------*/

/*  Base
//-------------------------------------*/

$base-background-color: #fff;
$base-site-color: #2244aa;
$base-font-color: #272727;
$base-font-size: 16px;


/*  Other
//-------------------------------------*/

$error-color: #db2828;


/*  Font
//-------------------------------------*/

$font-size-xl: calc($base-font-size + 6);
$font-size-ll: calc($base-font-size + 4);
$font-size-l: calc($base-font-size + 2);
$font-size-m: $base-font-size;
$font-size-s: calc($base-font-size - 2);
$font-size-ss: calc($base-font-size - 4);
$font-size-xs: calc($base-font-size - 6);
