/*-------------------------------------//
//  Menu
//-------------------------------------*/

.menu {
    z-index: 10;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 0;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, .1);
    border-bottom: 1px solid #DDD;
    background-color: rgba(255, 255, 255, .9);
}
.menu__list {
    display: flex;
    flex-grow: 1;
    width: 950px;
    margin: 0 auto;

    & > li {
        width: 100%;
        text-align: center;
    }
}
.menu__link {
    display: inline-block;
    font-family: 'ikamodoki';
    font-size: $font-size-xl;

    &.is-active { color: #367ef5;  }
    &:active { transform: scale(1.1); }
}
